* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
button {
    border: none;
    outline: none;
    width: 70px;
    height: 30px;
    padding: 5px 0;
    background-image: linear-gradient(rgb(255, 126, 126), rgb(255, 203, 59));
    color: rgb(181, 250, 235);
    border-radius: 5px;
    border: 2px solid rgb(33, 30, 155)  ;
}
button:hover {
    background-image: linear-gradient(rgb(109, 104, 29), rgb(150, 87, 221));
}
.container {
    width: 60%;
    margin: 0 auto;
}
.title {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(73, 255, 255);
}
.form-group {
    padding:  0;
    background-color: rgb(89, 86, 255);
    color: rgb(242, 255, 121);
}
.form-add {
    padding: 0 10px;
}
.form-add>.addName {
    text-align: left;
}
.form-add>.addPrice {
    text-align: left;
}
.form-add>.addQuantity {
    text-align: left;
}
.form-add>div {
    margin: 5px 0;
    text-align: center;
}
.form-add>div>input {
    float: right;
    width: 480px;
}
.form-edit {
    padding: 5px 10px;
}
.form-edit>div {
    padding: 5px 0;
}
.form-edit>div:last-child {
    text-align: center;
}
.form-edit>div>input {
    float: right;
    width: 430px;
}
.timkiem {
    padding: 10px 5px;
}
.timkiem>.search {
    text-align: center;
}
.timkiem>.search>input {
    width: 500px;
}
.addSP {
    text-align: center;
    padding: 5px 0;
}
.addSP>button {
    width: 130px;
    margin-top: 10px;
}
.table-product {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #222;
}
.table-product>thead>tr:first-child {
    background-color: aqua;
    border: 2px solid #555;
}
.table-product>thead>tr>th {
    padding: 5px 0;
}
.table-product>tbody>tr>td:first-child, .table-product>tbody>tr>td:last-child {
    text-align: center;
}
.table-product>tbody>tr:hover {
    background-color: rgb(236, 236, 236);
}
.table-product>tbody>tr>td>button {
    width: 45%;
}
.table-product>tbody>tr>td:nth-child(3), .table-product>tbody>tr>td:nth-child(4) {
    text-align: right
}
.edit-none{
    display: none;
}
.add-none{
    display: none;
}